

  <%  
    questions.each do |question| 
      # find response for this question and encounter
      response = encounter.get_response(question.id)
  %>

  <%= form_for response, remote: true, html: {class: "response"} do |resp| %>

    <!-- Survey Question -->
    <div class="question">

      <div class="question-text">
        <%= question.title %>. <%= question.body %>
      </div>

      <!-- Survey Options -->
      <div class="answers">
        <%
          options = question.options
          options.each do |option|
        %>  

          <% if option.kind == "multiple_choice" %>
          <!-- Multiple Choice -->          
            <p>
              <label>
                <%= radio_button_tag('response[body]', option.body, (response.body == option.body)) %>
                <span><%= option.body %></span>
              </label>
            </p>

          <% elsif option.kind == "free_text" %>
          <!-- Free Text -->

            <%= resp.text_field :body %>

          <% end  # end if option.kind %>

        <% end # end options.each %>

      </div><!-- end .answers -->

    </div><!-- end .question -->

  <% end # end form_for response %>

  <% end # end questions.each %>


