<div class="row">
  <div class="col s12"> 

    <!-- Main screen structure -->
    <header>
      <div class="nav">
            <a href="<%= encounter_path(@encounter) %>"><i class="material-icons">menu</i></a>
      </div>
      <div id="patient-meta">
        <div id="encounter-id" style="display:none;"><%= @encounter.id %></div>
        <h1><%= @encounter.subject_name %></h1>
        <p>Attending Physician: <%= @encounter.physician %></p>
        <p>Admitted: <%= (@encounter.created_at - 2.days).strftime("%m/%d/%y") %></p>
        <p>Bed: <%= @encounter.bed %></p>
        <p>MRN: <%= @encounter.mrn %></p>
      </div>

    </header>

  </div>
</div>

<div class="row">

  <div class="col s12">

    <main>
      <div id="af-nav">

        <ul class="collapsible">
          <%  sections = [{title: "A-Pain",name:"A"},
                          {title: "B-SAT",name:"B"},
                          {title: "C-Benzo",name:"C"},
                          {title: "D-Delirium",name:"D"},
                          {title: "E-Mobility",name:"E"}]

              sections.each_with_index do |section,index| %>

            <% statusHash = returnSectionStatus(section[:name],@encounter,@survey.id) %>

            <!-- Survey Section -->
            <li data-section-name="<%= section[:name] %>">
              <div class="collapsible-header measure-row <%= index == 0 ? 'first' : '' %> <%= index == (sections.length-1) ? 'last' : '' %>">
                <span class="status-icon"><%= statusHash[:icon].html_safe %></span>
                <div class="measure-row-content">
                  <div class="left">
                    <div class="top"><strong><%= section[:title] %></strong></div>
                    <div class="bottom status-name"><%= statusHash[:status_name] %></div>
                  </div>
                  <div class="right">
                    <i class="material-icons">keyboard_arrow_right</i>
                  </div>
                </div>
              </div>
              <div class="collapsible-body">

                <% questions = @survey.questions.where("section_name = '#{section[:name]}'") %>
                <%= render partial: 'section', :locals => {:questions => questions, :encounter => @encounter} %>
                
              </div>
            </li>      

          <% end  # end sections.each %>            
          
        </ul>

      </div>
            
    </main>
  
  </div>
</div>

<script>
  $('.collapsible').collapsible();
  $('.modal').modal({});
  $('.modal').modal("open");
</script>