<div class="row">

  <div class="col s12">

<!-- Main screen structure -->
    <header>
      <div class="nav">
        <a href="<%= new_encounter_path %>"><i class="material-icons">menu</i></a>
      </div>

      <div id="patient-meta">
        <h1>Encounters <span><a class="btn-floating btn-large waves-effect waves-light" href="<%= new_encounter_path %>"><i class="material-icons">add</i></a></span></h1>
         
      </div>

    </header>

  </div>

</div> <!-- end row -->

<div class="row">

  <div class="col s12">

    <main>

      <div id="af-nav">

        <ul class="collection">

          <% @encounters.each do |encounter| %>

          <li>
            <a href="<%= edit_encounter_path(encounter) %>">
            <div class="collection-item measure-row first">

              <div class="row measure-row-content">

                <div class="col s3 measure-name">
                  <%= encounter.id %>
                </div>

              </div>

            </div>
            </a>
          </li>

          <% end %>
          
        </ul>

      </div>
            
    </main>

  </div>

</div><!-- end row -->