<%= form_for @encounter do |f| %>
<div class="row">
	<div class="input-field col s12">
		<%= f.text_field :subject_name %>
		<%= label :encounter, :subject_name %>
	</div>
	<div class="input-field col s12">
		<%= f.text_field :physician %>
		<%= label :encounter, :physician %>
	</div>
	<div class="input-field col s12">
		<%= f.text_field :bed %>
		<%= label :encounter, :bed %>
	</div>
	<div class="input-field col s12">
		<button class="btn waves-effect waves-light" type="submit" name="action">Submit
			<i class="material-icons right">send</i>
		</button>
	</div>
</div>

<% end %>