<div class="row">

  <div class="col s12">

<!-- Main screen structure -->
    <header>
      <div class="nav">
        <a href="<%= edit_encounter_path(@encounter) %>"><i class="material-icons">menu</i></a>
      </div>

      <div id="patient-meta">
        <h1><%= @encounter.subject_name %></h1>
        <p>Attending Physician: <%= @encounter.physician %></p>
        <p>Admitted: <%= (@encounter.created_at - 2.days).strftime("%m/%d/%y") %></p>
        <p>Bed: <%= @encounter.bed %></p>
        <p>MRN: <%= @encounter.mrn %></p>
      </div>

    </header>

  </div>

</div> <!-- end row -->

<div class="row">

  <div class="col s12">

    <main>

      <div id="af-nav">

        <ul class="collection">

          <!-- Survey section -->
          <li>
            <div class="collection-item measure-row first">

              <div class="row measure-row-content">

                <% statusHash = returnSectionStatus("A",@encounter,@survey.id) %>

                <div class="col s3 measure-name">
                    <%= statusHash[:icon].html_safe %>
                    <div class="title">A-Pain</div>
                    <div class="completion"><%= statusHash[:status_name] %></div>
                </div>
                <div class="col s9">
                  <ul>
                    <%  responses = @responses["A"] || []
                        responses.sort_by{|a| a.question.order}.each do |resp| %>
                    <li>
                      <%= resp.question.answer_display %> <span class="answerbody"><%= resp.body %></span> <a href="#" class="response-trend" data-question-id="<%=resp.question_id %>"><i class="opentrend material-icons">open_in_new</i></a>
                    </li>
                    <% end %>
                  </ul>
                </div>

              </div>

            </div>
          </li>

          <!-- Survey section -->
          <li>
            <div class="collection-item measure-row ">

              <div class="row measure-row-content">

                <% statusHash = returnSectionStatus("B",@encounter,@survey.id) %>

                <div class="col s3 measure-name">
                    <%= statusHash[:icon].html_safe %>
                    <div class="title">B-SAT</div>
                    <div class="completion"><%= statusHash[:status_name] %></div>
                </div>
                <div class="col s9">
                  <ul>
                    <%  responses = @responses["B"] || []
                        responses.sort_by{|a| a.question.order}.each do |resp| %>
                    <li>
                      <%= resp.question.answer_display %> <span class="answerbody"><%= resp.body %></span> <a href="#" class="response-trend" data-question-id="<%=resp.question_id %>"><i class="opentrend material-icons">open_in_new</i></a>
                    </li>
                    <% end %>
                  </ul>
                </div>

              </div>

            </div>
          </li>

          <!-- Survey section -->
          <li>
            <div class="collection-item measure-row ">

              <div class="row measure-row-content">

                <% statusHash = returnSectionStatus("C",@encounter,@survey.id) %>

                <div class="col s3 measure-name">
                    <%= statusHash[:icon].html_safe %>
                    <div class="title">C-Benzo</div>
                    <div class="completion"><%= statusHash[:status_name] %></div>
                </div>
                <div class="col s9">
                  <ul>
                    <%  responses = @responses["C"] || []
                        responses.sort_by{|a| a.question.order}.each do |resp| %>
                    <li>
                      <%= resp.question.answer_display %> <span class="answerbody"><%= resp.body %></span> <a href="#" class="response-trend" data-question-id="<%=resp.question_id %>"><i class="opentrend material-icons">open_in_new</i></a>
                    </li>
                    <% end %>
                  </ul>
                </div>

              </div>

            </div>
          </li>

          <!-- Survey section -->
          <li>
            <div class="collection-item measure-row ">

              <div class="row measure-row-content">

                <% statusHash = returnSectionStatus("D",@encounter,@survey.id) %>

                <div class="col s3 measure-name">
                    <%= statusHash[:icon].html_safe %>
                    <div class="title">D-Delirium</div>
                    <div class="completion"><%= statusHash[:status_name] %></div>
                </div>
                <div class="col s9">
                  <ul>
                    <%  responses = @responses["D"] || []
                        responses.sort_by{|a| a.question.order}.each do |resp| %>
                    <li>
                      <%= resp.question.answer_display %> <span class="answerbody"><%= resp.body %></span> <a href="#" class="response-trend" data-question-id="<%=resp.question_id %>"><i class="opentrend material-icons">open_in_new</i></a>
                    </li>
                    <% end %>
                  </ul>
                </div>

              </div>

            </div>
          </li>  

          <!-- Survey section -->
          <li>
            <div class="collection-item measure-row last">

              <div class="row measure-row-content">

                <% statusHash = returnSectionStatus("E",@encounter,@survey.id) %>

                <div class="col s3 measure-name">
                    <%= statusHash[:icon].html_safe %>
                    <div class="title">E-Mobility</div>
                    <div class="completion"><%= statusHash[:status_name] %></div>
                </div>
                <div class="col s9">
                  <ul>
                    <%  responses = @responses["E"] || []
                        responses.sort_by{|a| a.question.order}.each do |resp| %>
                    <li>
                      <%= resp.question.answer_display %> <span class="answerbody"><%= resp.body %></span> <a href="#" class="response-trend" data-question-id="<%=resp.question_id %>"><i class="opentrend material-icons">open_in_new</i></a>
                    </li>
                    <% end %>
                  </ul>
                </div>

              </div>

            </div>
          </li>                                                  


        </ul>

      </div>
            
    </main>

  </div>

</div><!-- end row -->