
<form action="#">
  <%  
    questions.each do |question| 
  %>

  <!-- Survey Question -->
  <div class="question">

    <div class="question-text">
      <%= question.title %>. <%= question.body %>
    </div>

    <!-- Survey Options -->
    <div class="answers">
      <%
        options = question.options
        options.each do |option|
      %>  
        <!-- Multiple Choice -->
        <% if option.kind == "multiple_choice" %>
        
          <p>
            <label>
              <input name="question<%= question.id %>" class="with-gap" type="radio" checked />
              <span><%= option.body %></span>
            </label>
          </p>

        <!-- Free Text -->
        <% elsif option.kind == "free_text" %>

          <input name="question<%= question.id %>" type="text" />

        <% end  # end if option.kind %>

      <% end # end options.each %>

    </div><!-- end .answers -->

  </div><!-- end .question -->

  <% end # end questions.each %>

  </form>
