<div class="row">
  <div class="col s12"> 

    <!-- Main screen structure -->
    <header>
      <div class="nav">
            <a href="<%= survey_path(1) %>"><i class="material-icons">menu</i></a>
      </div>

      <div id="patient-meta">
        <h1>Goodner, Jared</h1>
        <p>Attending Physician: Tiffany Hanson, MD</p>
        <p>Admitted: 04/06/18</p>
        <p>Bed: G7</p>
        <p>MRN: 1234567</p></p>
      </div>

    </header>

  </div>
</div>

<div class="row">

  <div class="col s12">

    <main>
      <div id="af-nav">

        <ul class="collapsible">
          <!-- Survey Section -->
          <li>
            <div class="collapsible-header measure-row first">
              <i class="material-icons green">check</i>
              <div class="measure-row-content">
                <div class="left">
                  <div class="top"><strong>A-Pain</strong></div>
                  <div class="bottom">Completed</div>
                </div>
                <div class="right">
                  <i class="material-icons">keyboard_arrow_right</i>
                </div>
              </div>
            </div>
            <div class="collapsible-body">

              <% questions = @survey.questions.where("section_name = 'A'") %>
              <%= render partial: 'section', :locals => {:questions => questions} %>
              
            </div>
          </li>

          <li>
            <div class="collapsible-header measure-row">
              <i class="material-icons red">cancel</i>
              <div class="measure-row-content">
                <div class="left">
                  <div class="top"><strong>B-Pain</strong></div>
                  <div class="bottom">Not Started</div>
                </div>
                <div class="right">
                  <i class="material-icons">keyboard_arrow_right</i>
                </div>
              </div>
            </div>
            <div class="collapsible-body">
          
              <% questions = @survey.questions.where("section_name = 'B'") %>
              <%= render partial: 'section', :locals => {:questions => questions} %>          

            </div>
          </li>              

          <li>
            <div class="collapsible-header measure-row">
              <i class="material-icons yellow">do_not_disturb_on</i>
              <div class="measure-row-content">
                <div class="left">
                  <div class="top"><strong>C-Pain</strong></div>
                  <div class="bottom">Incomplete</div>
                </div>
                <div class="right">
                  <i class="material-icons">keyboard_arrow_right</i>
                </div>
              </div>
            </div>
            <div class="collapsible-body">
          
              <% questions = @survey.questions.where("section_name = 'C'") %>
              <%= render partial: 'section', :locals => {:questions => questions} %>  
            
            </div>
          </li>                        
          
        </ul>

      </div>
            
    </main>
  
  </div>
</div>

<script>
  $('.collapsible').collapsible();
  $('.modal').modal({});
  $('.modal').modal("open");
</script>