<div class="row">

  <div class="col s12">

<!-- Main screen structure -->
    <header>
      <div class="nav">
        <a href="<%= new_survey_path %>"><i class="material-icons">menu</i></a>
      </div>

      <div id="patient-meta">
        <h1>Goodner, Jared</h1>
        <p>Attending Physician: Tiffany Hanson, MD</p>
        <p>Admitted: 04/06/18</p>
        <p>Bed: G7</p>
        <p>MRN: 1234567</p></p>
      </div>

    </header>

  </div>

</div> <!-- end row -->

<div class="row">

  <div class="col s12">

    <main>

      <div id="af-nav">

        <ul class="collection">
          <li>
            <div class="collection-item measure-row first">

              <div class="row measure-row-content">

                <div class="col s3 measure-name">
                  A
                </div>
                <div class="col s9">
                  <ul>
                    <li>
                      <strong>5</strong> Documented pain assessments (Self-Reported)
                    </li>
                    <li>
                      <strong>5</strong> Documented pain assessments (Self-Reported)
                    </li>
                    <li>
                      <strong>5</strong> Documented pain assessments (Self-Reported)
                    </li>
                    <li>
                      <strong>5</strong> Documented pain assessments (Self-Reported)
                    </li>
                  </ul>
                </div>

              </div>

            </div>
          </li>
          <li>
            <div class="collection-item measure-row last">

              <div class="row measure-row-content">

                <div class="col s3 measure-name">
                  B
                </div>
                <div class="col s9">
                  <ul>
                    <li>
                      <strong>Yes</strong> Continuously Infused sedative or opioid medications (24 Hour Period)

                    </li>
                    <li>
                      <strong>Yes</strong> Continuously Infused sedative or opioid medications (24 Hour Period)
                    </li>
                    <li>
                      <strong>Yes</strong> Continuously Infused sedative or opioid medications (24 Hour Period)
                    </li>
                    <li>
                      <strong>Yes</strong> Continuously Infused sedative or opioid medications (24 Hour Period)
                    </li>
                  </ul>
                </div>

              </div>

            </div>
          </li>
          
        </ul>

      </div>
            
    </main>

  </div>

</div><!-- end row -->