// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html.desktop {
	background:#DBE9F9;	
}

.desktop {

	padding-top:0;


	h1,h4,p {
		color:black;

		span.gray {
			color:#A4A4A4;
		}
	}

    header, main, footer {
      padding-left: 300px;
    }

    .btn {
    	background-color:#4184F3;
    }

	nav {
		background-color: #1C3871;

		.brand-logo {
			padding-left:40px;
		}

	}

	.sidenav {
		li.logo {
			background-color:#365CA9;
			height:200px;

			a:hover {
				background-color:transparent;
			}
		}
	}

	.container {
		width:90%;
	}

	// Media Queries
	@media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

}

table {
	th {
		font-size:12px;
		color:rgba(0, 0, 0, 0.54);	
		span {
			display:block;
			font-weight:100;
		}
	}
	td {
		font-size:13px;
		i {
			font-size:2.6em !important;
			
			&.red { 
				color:#FF6E49 !important;
				background-color:transparent !important;
			}
			&.green { 
				color:#85D291 !important;
				background-color:transparent !important;
			}
			&.yellow { 
				color:#FDD200 !important;
				background-color:transparent !important;
			}						
		}
	}


}
