html{
	background: linear-gradient(#2F4596,#5E67E9);
	height:100%;
}

body {
	padding-top:25px;
}

p,h1,.nav {
	color:white;
}

h1 {
	font-size: 3em;
	margin:0px;
}

label {
	color:rgba(0, 0, 0, 0.87);
}

.nav a {
	color:white;
}

.nav i {
	font-size:45px;
}

.modal {
	border-radius:10px;
}

.modal h1 {
	color:black;
}

.modal a.minor {
	font-size:12px;
	color:gray;
}

.modal .modal-footer {
	height:110px;
	text-align: center;
	padding:0 24px;
}

.modal .btn-large.wide {
	width:100%;
	text-align:center;
	background-color: #597AEF;
	color:white;
	font-size:1.25em;
	border-radius:4px;
}


#patient-meta {
	width:94%;
}

#patient-meta p {
	size: 16px;
	line-height:0.7em;
	font-weight:100;
}

#patient-meta a.btn-floating {
	background-color:rgba(74,144,226,0.2);
}

#af-nav {
	max-height:1000px;
	overflow:scroll;
}

#af-nav p {
	color:rgba(0, 0, 0, 0.62);

}

#af-nav ul {
	box-shadow:none;
	border:none;
	// max-height:700px;
}

#af-nav ul li:focus {
	outline:none;
}

.measure-row.first {
	border-radius: 10px 10px 0 0;
}

.measure-row.last {
	border-radius: 0 0 10px 10px;
}

.measure-row {
	i {
		font-size:2.6em;
		background:transparent !important;

		&.green {
			color:#85D291;			
		}

		&.red {
			color:#FF6E49;
		}

		&.yellow {
			color:#FDD200;
		}

		&.opentrend {
			font-size:1.2em;
			color:#5E67E9;
		}
	}
}

.measure-row-content {
	margin-left:10px;
	width:90%;
	display:inline-block;
	margin-bottom:0;

	.top {
		font-size:1.2em;
	}

	.measure-name {
		font-size:2em;
		line-height: 1em;
		text-align:center;

		.completion {
			font-size:0.5em
		}

		i {
			font-size:1.6em !important;
		}
	}

	span.answerbody {
		color:#5E67E9;
	}



}

.collapsible-body {
	background:white;
}

#af-nav ul.collection>li {
	border-bottom:1px solid #979797;
}

// Forms
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
	background-color:#5E67E9;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
	border:2px solid #5E67E9;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	box-shadow: 0 1px 0 0 #5E67E9;
	border-bottom: 1px solid #5E67E9;
}