<!DOCTYPE html>
<html>
  <head>
    <title>Af</title>
    <%= csrf_meta_tags %>

		<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <div class="container">

	    <!-- Modal Structure -->
	    <div id="identity-modal" class="modal">
	      <div class="modal-content">
	        <h1>Welcome Back.</h1>
	        <h1><strong>Are you <span id="user-name">Dr. Perren Cobb</span>?</strong></h1>
	      </div>
	      <div class="modal-footer">
	        <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> -->
	        <div class="buttons">
	          <a href="#!" class="modal-close waves-effect waves-teal btn-flat btn-large wide" id="login-as-user">Yes, Continue</a>
	          <br/>
	          <a href="#!" class="minor">Log in as a different user</a>
	        </div>
	      </div>
	    </div>       	

	    <!-- Modal Structure -->
	    <div id="trend-modal" class="modal">
	      <div class="modal-content">
	        <!-- <h1 class="graph-title">Question 1a</h1> -->
	        <div class="plot">
	        	<%# image_tag "plot_example.png" %>
	        	<div id="plot-container" style="width:100%; height:400px;"></div>
	        </div>
	      </div>

	    </div>     	    
	    
	    <%= yield %>

      <footer>
      </footer>

    </div><!-- end container -->

  </body>
</html>



