<!DOCTYPE html>
<html class="desktop">
  <head>
    <title>Af</title>
    <%= csrf_meta_tags %>

		<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="desktop">

  	<header>
		
			<nav>

			  <div class="nav-wrapper">  			
			  	<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			    <a href="#" class="brand-logo">A-F Bundle Compliance Dashboard</a>
			    <ul id="nav-mobile" class="right hide-on-med-and-down">
			      <li><a href="collapsible.html">Logout</a></li>
			    </ul>
			  </div>
			</nav>


			<ul id="slide-out" class="sidenav-fixed sidenav">
				<li class="logo">
					<a id="logo-container" href="/" class="brand-logo">
						<%= image_tag "logo.png" %>
					</a>
        		</li>
			  <li><a href="#!"><i class="material-icons">today</i>Today</a></li>
			  <li><a href="#!"><i class="material-icons">history</i>Historical</a></li>
			  <li><a href="#!"><i class="material-icons">publish</i>Audit & Export</a></li>
			  <li><div class="divider"></div></li>
<!-- 			  <li><a class="subheader">Subheader</a></li>
			  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li> -->
			</ul>

		</header>

		<%= yield %>


  </body>
</html>



